{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body data-bs-theme="dark">
{{ result }}
    <form class="d-flex flex-row" action="" method="post">{% csrf_token %}
        <input class="input form-control bg-white text-black" style="width: 300px" type="number" name="number" placeholder="Ввидите число">
        <button class="btn btn-primary ms-2" type="submit">Отправить</button>
    </form>
</body>
</html>